# Global
.DS_Store
.env
.env.local
.env.*.local
*.log
*.tsbuildinfo
*.tgz
*.gz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node modules
node_modules/

# Build outputs
dist/
build/
out/
.tmp/
.temp/
.cache/

# TypeScript
*.tsbuildinfo

# IDEs
.vscode/
.idea/
*.sw?
*.swo
*.bak

# macOS
.DS_Store

# Expo
.expo/
.expo-shared/
web-build/

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock

# Android
android/.gradle/
android/app/build/
android/.idea/
android/local.properties
android/.cxx/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# React Native
coverage/
*.keystore

# Git
.git/
!.gitignore
